---
import BaseLayout from "@layout/BaseLayout.astro";
---

<BaseLayout pageTitle="Page Not Found">
  <h1>404 Page Not Found</h1>
  <p>Something went wrong...</p>
  <p>Please try the homepage.</p>
</BaseLayout>
