---
import BaseLayout from "@layout/BaseLayout.astro";
import "@styles/global.scss";
---

<BaseLayout pageTitle="Homepage">
  <article>
    <header>
      <h2>Article Title</h2>
    </header>
    <div class="entry">
      <p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio tenetur fuga fugit autem qui non illum soluta architecto odit enim placeat illo, deserunt laborum nemo! Obcaecati dolorem recusandae amet commodi!
      </p>
    </div>
    <footer>
      <p>Some footer content</p>
    </footer>
  </article>
</BaseLayout>
